@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: swap;
  src: url("../font/Inter.var.woff2") format("woff2");
}

@font-face {
  font-family: "Cirrus";
  font-display: swap;
  src: url("../font/CirrusCumulus.woff") format("woff");
}

:root {
  --color-title: hsl(160, 88%, 40%);
  --color-text: hsl(200, 98%, 32%);
  --color-white: white;
  --background-interviews: hsl(118, 100%, 92%);
  --background-analyses: hsl(152, 80%, 86%);
  --background-definition: hsl(70, 100%, 86%);
  --line-weight: 2px;
}

html {
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

* {
  scrollbar-color: var(--color-title) var(--color-text);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 0.6em;
}
::-webkit-scrollbar-track {
  background: var(--color-text);
}
::-webkit-scrollbar-thumb {
  background: var(--color-title);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: -100vh;
}

.simplebar-track.simplebar-vertical {
  width: 20px;
}

.simplebar-scrollbar:before {
  background: var(--color-title);
  opacity: 1;
  border-radius: 0;
  left: 8.5px;
  height: calc(100% + 100vh);
  width: var(--line-weight);
}

.simplebar-scrollbar:after {
  position: absolute;
  content: "";
  background: var(--color-title);
  width: 16px;
  right: var(--line-weight);
  bottom: 0;
  top: 0;
}

.simplebar-scrollbar:after:hover {
  background: red !important;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.tanuki-logo {
  fill: var(--color-title);
}

h1,
h2,
h3 {
  line-height: 1.2em;
}

h1 {
  font-family: "Cirrus";
  font-size: 4.2em;
}

h2 {
  font-family: "Cirrus";
  font-size: 1.8em;
  color: var(--color-title);
}

.sommaire-interview li::before,
h3 {
  font-family: "Cirrus";
  font-size: 1.46em;
  color: var(--color-title);
}

h5 {
  font-family: "Cirrus";
  font-size: 4.8em;
  line-height: 1.4em;
  color: var(--color-title);
}

h6,
p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: var(--color-text);
}

a,
a:visited {
  color: var(--color-title);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.conteneur-global {
  height: 100vh;
  width: calc(100vw - 4em);
  margin-left: 4em;
  overflow-x: hidden;
}

.conteneur-index {
  width: 100%;
  height: 100%;
  display: flex;
}

.vertical {
  writing-mode: sideways-lr;
}

br {
  margin-bottom: 10px;
}

nav,
.barre-infos {
  width: 2.4em;
  padding: 0.8em 0.8em 0.8em 0.7em;
  display: grid;
  align-content: space-between;
}

nav {
  height: calc(100vh - 1.6em);
  position: fixed;
  z-index: 5;
  border-right: var(--line-weight) solid var(--color-title);
}

nav span {
  font-family: "Inter";
  font-size: 1.8em;
  font-weight: 300;
  color: var(--color-title);
    cursor: pointer;
}

.conteneur-pdf {
  height: 100%;
  padding: 1em;
}

.conteneur-pdf p {
  font-size: 0.8em;
  padding: 0.1em 0;
}

.pdf-viewer {
  width: 100%;
  height: 90%;
  border-radius: 0;
  border: var(--line-weight) solid var(--color-fill-darker);
}

.conteneur-introduction {
  height: 100%;
  width: 36%;
  overflow-y: auto;
  background-color: var(--color-text);
}

.introduction {
  padding: 0.4em 1.6em;
  color: var(--color-white);
}

.introduction h1 {
  margin-bottom: 1em;
  color: var(--color-title);
}

.introduction p {
  width: 80%;
  color: var(--color-white);
  margin-bottom: 1em;
}

.conteneur-sections {
  height: 100%;
  width: 64%;
  display: flex;
  overflow-x: hidden;
}

.memoire-analyses,
.memoire-corps,
.memoire-interviews,
.barre-infos {
  border-left: var(--line-weight) solid var(--color-title);
}

.memoire-analyses,
.memoire-corps,
.memoire-interviews {
  flex-grow: 1;
  height: 100%;
  transition: flex-grow 0.4s;
}

.memoire-corps:hover,
.memoire-interviews:hover,
.memoire-analyses:hover {
  flex-grow: 8;
}

.background-index {
  background-color: var(--color-text);
}

.background-corps {
  background-color: var(--color-white);
}

.background-interviews {
  background-color: var(--background-interviews);
}

.background-analyses {
  background-color: var(--background-analyses);
}

.sections {
  display: flex;
}

.sections a {
  display: flex;
  flex-grow: 1;
}

.conteneur-titre {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titre {
  position: absolute;
  right: 0;
  padding: 1em;
  width: 34vw;
}

.steps {
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  width: 20px;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  border-left: var(--line-weight) solid var(--color-title);
  /* opacity: 0;
  transition: opacity 0.4s ease-in-out; */
}

/* .steps:hover {
  opacity: 1;
} */

.step {
  box-shadow: 0 2px 0 0 var(--color-title);
}

.opacity {
  transition: opacity 0.4s ease-in-out;
}

.conteneur-interview {
  width: 60vw;
}

.sommaire-interview {
  counter-reset: mega-step;
}

.sommaire-interview ol {
  position: fixed;
  width: 24vw;
  height: 100vh;
  overflow-x: hidden;
  top: 0;
  border-right: var(--line-weight) solid var(--color-title);
}

.sommaire-interview li {
  max-height: 1.6em;
  overflow: hidden;
  margin: 0.6em;
  counter-increment: mega-step;
  transition: 0.5s max-height ease-in-out;
}

.sommaire-interview li:hover {
  max-height: 300px;
  cursor: pointer;
  transition: 1s max-height ease-in-out;
}

.sommaire-interview li::before {
  content: counter(mega-step);
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 1.2em;
  height: 1em;
}

.sommaire-interview li h3 {
  margin: 0 0 0 2.4em;
}

.conversation-interview {
  margin-bottom: 10vh;
  width: 36vw;
  margin-left: 26vw;
  position: relative;
}

.conversation-interview h2 {
  margin: 1.6em 0 0.8em 0;
}

.conversation-interview p a,
.conversation-interview a {
  /* box-shadow: 0 2px 0 0 var(--color-title); */
  padding-bottom: var(--line-weight);
  padding-top: var(--line-weight);
  color: var(--color-title);
}

.conversation-interview h2:first-child {
  padding-bottom: 1em;
}

/* .conversation-interview a::after {
  content: "•";
  position: relative;
  top: -8px;
  left: -var(--line-weight);
  color: var(--color-title);
  font-size: 0.8em;
  font-family: "Inter";
} */

/****************************************************! WIKIPEDIA !****************************************************/

.wp-popup {
  border: var(--line-weight) solid var(--color-title) !important;
  margin: -var(--line-weight) !important;
}

.wikipediapreview li {
  margin: 0 20px 8px 20px;
}

.wikipediapreview p,
.wikipediapreview ol,
.wikipediapreview-footer-cta {
  font-family: "Inter", sans-serif !important;
  font-weight: 300 !important;
  font-size: 1.1rem !important;
  line-height: 1.5rem !important;
  color: var(--color-text) !important;
}

.wikipediapreview-footer-cta {
  color: var(--color-title) !important;
}

.wp-popup,
.wikipediapreview {
  box-shadow: none !important;
  border-radius: 0rem !important;
  background-color: var(--background-interviews) !important;
}

.wikipediapreview-body {
  background-color: var(--background-interviews) !important;
  overflow: hidden !important;
  max-height: 70vh !important;
  margin-bottom: 4px;
}

.wikipediapreview-body::after {
  left: 2px !important;
  width: calc(100% - 4px) !important;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%) !important;
  display: none;
}

.wikipediapreview-gallery {
  display: none !important;
}

.wikipediapreview-footer-cta {
  text-transform: uppercase !important;
  display: none !important;
}

.wikipediapreview-header-wordmark-fr {
  background-color: var(--color-title);
  background-image: none !important;
  mask-image: url("https://wikipedia.org/static/images/mobile/copyright/wikipedia-wordmark-fr.svg");
  mask-repeat: no-repeat;
  mask-position: left;
  height: 50px !important;
}

.wikipediapreview-header-closebtn {
  background-color: var(--color-title);
  background-image: none !important;
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBmaWxsPSIjNTQ1OTVEIiBkPSJNNi4zNjMgNUwyMCAxOC42MzcgMTguNjM3IDIwIDUgNi4zNjN6Ii8+PHBhdGggZmlsbD0iIzcyNzc3RCIgZD0iTTIwIDYuMzYzTDYuMzYzIDIwIDUgMTguNjM3IDE4LjYzNyA1eiIvPjwvZz48L3N2Zz4=");
  mask-repeat: no-repeat;
  mask-position: center;
  height: 50px !important;
}

.wikipediapreview-header-image {
  background-color: var(--background-interviews) !important;
  border: none !important;
  margin-left: 12px !important;
  margin-top: 12px !important;
}

.wikipediapreview-header-wordmark-with-image {
  margin-top: 0 !important;
}

/****************************************************! RESPONSIVE !****************************************************/

/* @media all and (max-width: 1100px) {
  .conteneur-index {
    height: auto;
    width: 100%;
    overflow-y: auto;
  }

  .conteneur-interview {
    width: 75%;
    grid-template-columns: 1fr 1.4fr;
  }

  .conteneur-index,
  .sections,
  .conteneur-sections {
    flex-direction: column;
  }

  .conteneur-introduction,
  .conteneur-sections {
    width: 100%;
  }

  .introduction {
    height: max-content;
  }

  .conteneur-introduction p {
    width: 60vw;
  }

  .conteneur-titre {
    height: 23em;
  }

  .memoire-analyses,
  .memoire-corps,
  .memoire-interviews,
  .barre-infos {
    border-top: var(--line-weight) solid var(--color-title);
    border-left: 0px;
    width: 100%;
  }

  .barre-infos {
    height: 3em;
  }

  .conteneur-introduction {
    height: max-content;
  }

  .titre {
    left: 0;
    width: 50vw;
  }
}

@media all and (max-width: 700px) {
  .conteneur-global {
    margin-left: 0;
    margin-top: 4em;
    width: 100vw;
  }

  .conteneur-interview {
    width: 90%;
    grid-template-columns: 1fr 1.8fr;
    margin: 0.8em 2em;
    gap: 2em;
  }

  .conteneur-interview h2 {
    margin: 0.8em 0 0.4em 0;
  }

  .vertical {
    writing-mode: inherit;
    display: none;
  }

  nav,
  .barre-infos {
    width: 100%;
    height: 2.4em;
    padding: 0.8em 0.8em 0.7em 0.8em;
    display: grid;
  }

  nav {
    position: fixed;
    z-index: 10;
    border-bottom: var(--line-weight) solid var(--color-title);
  }

  .conteneur-introduction p {
    width: 80vw;
  }

  .conteneur-pdf {
    width: calc(100% - 4px);
    height: 99%;
    padding: 0;
  }

  .titre {
    left: 0;
    width: 90vw;
  }
} */
