* {
  scrollbar-color: var(--color-fill-lighter) var(--color-fill-light);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 0.6em;
}
::-webkit-scrollbar-track {
  background: var(--color-fill-light);
}
::-webkit-scrollbar-thumb {
  background: var(--color-fill-lighter);
}

body {
  background-color: var(--color-fill-lightest);
  overflow: hidden;
}

.print,
.visibleMediumView,
#secondaryPrint,
#openFile,
#print,
#secondaryPrint,
#viewBookmark,
#secondaryViewBookmark,
#viewAttachments,
#viewLayers,
#outlineOptionsContainer {
  display: none;
}

#sidebarContainer {
  top: 36px;
}

button:hover,
label:hover,
#scaleSelect:hover,
#scaleSelectContainer:hover {
  cursor: pointer;
}

#overlayContainer > .container > .dialog,
#sidebarContainer,
#findbar,
#secondaryToolbar,
#toolbarContainer,
#toolbarSidebar,
#errorWrapper,
.dropdownToolbarButton > select > option,
.toolbarField,
.toolbarButton,
.dropdownToolbarButton,
.secondaryToolbarButton,
.toolbarLabel,
html[dir="ltr"] .secondaryToolbar,
.dropdownToolbarButton,
.splitToolbarButton > .toolbarButton:focus,
.findbar input:focus + label,
.toolbarButton:focus,
.toolbarButton.textButton:focus,
.findbar .splitToolbarButton > .toolbarButton,
html[dir="ltr"] .findbar .splitToolbarButton > .findNext {
  background-color: var(--color-fill-dark);
}

.overlayButton:hover,
.overlayButton:focus,
.splitToolbarButton > .toolbarButton:hover,
.dropdownToolbarButton:hover,
.toolbarButton.textButton:hover,
.toolbarButton:hover,
.secondaryToolbarButton:hover,
#zoomOut:hover,
#zoomIn:hover,
#scaleSelect:hover,
#scaleSelect,
option:hover,
button:hover,
label:hover,
.findbar label:hover,
option,
.findbar .splitToolbarButton > .toolbarButton:hover,
html[dir="ltr"] .findbar .splitToolbarButton > .findNext:hover {
  background-color: var(--color-fill-darker);
}

.secondaryToolbarButton:hover,
#zoomOut:hover,
#zoomIn:hover,
.toolbarButton:hover,
.toolbarButton:focus,
.toolbarField,
.overlayButton,
button:hover,
label:hover,
#scaleSelect,
#scaleSelect:hover,
option:hover,
.toolbarButton,
.dropdownToolbarButton,
.secondaryToolbarButton,
.overlayButton,
.toolbarLabel,
.doorHanger,
.doorHangerRight,
.findbar .splitToolbarButton > .toolbarButton,
html[dir="ltr"] #findInput,
.toolbarLabel,
.thumbnailSelectionRing,
html[dir="ltr"] .findbar .splitToolbarButton > .findNext,
#overlayContainer > .container > .dialog,
.treeItemToggler:hover,
.treeItemToggler:hover + a,
.treeItemToggler:hover ~ .treeItems,
.treeItem > a:hover {
  border-radius: 0em;
}

html[dir="ltr"] #toolbarViewerRight,
html[dir="rtl"] #toolbarViewerLeft,
html[dir="ltr"] #toolbarSidebarRight,
html[dir="rtl"] #toolbarSidebarLeft {
  margin-right: 4px;
}

#toolbarContainer,
html[dir="ltr"] #toolbarSidebar,
.doorHanger,
.doorHangerRight,
.textLayer,
.thumbnailImage,
#overlayContainer > .container > .dialog {
  border: none;
  box-shadow: none;
  outline: 2px solid var(--color-fill-darker);
}

html[dir="ltr"] .treeItem > a {
  padding: 2px 0 3px 4px;
}

.treeItem > a {
  margin: 0 0 4px 0;
}

.treeItem > a:hover {
  background-color: var(--background-link);
  outline: 2px solid var(--color-fill-darker);
}

#toolbarContainer,
html[dir="ltr"] #toolbarSidebar,
.doorHanger {
  padding: 2px 0 2px 2px;
}

html[dir="ltr"] #toolbarSidebar {
  padding-top: 4px;
}

#sidebarContent {
  top: 38px;
  padding-right: 2px;
  background-color: var(--color-fill-darker);
  border-top: 2px solid var(--color-fill-darker);
  border-right: 2px solid var(--color-fill-darker);
}

.overlayButton {
  background-color: var(--color-fill-light);
}

#outlineView,
.treeItem > a:focus {
  background-color: var(--background-link);
}

#outlineView a {
  color: hsl(150, 100%, 40%);
}

.toolbarField {
  padding: 4px;
  margin: 2px;
}

.toolbarField {
  border: 2px solid var(--color-fill-light);
}

.toolbarField:focus {
  border: 2px solid var(--color-fill-lightest);
}

#thumbnailView {
  background-color: var(--color-fill-darker);
  width: auto;
}

#viewerContainer {
  top: 36px;
}

#sidebarContent {
  overflow-x: hidden;
}

.findbar {
  min-width: 0;
}

.pdfViewer .page {
  border-image: none;
}

.splitToolbarButtonSeparator,
.findbar .splitToolbarButtonSeparator,
.verticalToolbarSeparator {
  background-color: var(--color-fill-light);
  width: 2px;
  border-radius: 2px;
}

.horizontalToolbarSeparator,
.dialog .separator {
  height: 2px;
  background-color: var(--color-fill-light);
  border: none;
}

.findbar .splitToolbarButton > .findNext,
.findbar .splitToolbarButton > .findPrevious {
  width: 28px;
}

.findbar .splitToolbarButton > .toolbarButton,
html[dir="ltr"] .findbar .splitToolbarButton > .findNext {
  border: none;
}

.findbar {
  top: 34px;
  overflow: hidden;
}

html[dir="ltr"] .secondaryToolbar {
  top: 34px;
  right: -2px;
  overflow: hidden;
}

#secondaryToolbarButtonContainer {
  overflow-x: hidden;
}

#secondaryToolbarButtonContainer button {
  margin: 2px;
}

.thumbnailSelectionRing {
  padding: 8px;
}

@media all and (max-width: 840px) {
  #outerContainer .hiddenLargeView,
  #outerContainer .hiddenMediumView {
    display: none;
  }
}

@media all and (max-width: 700px) {
  #outerContainer .visibleMediumView {
    display: none;
  }
}

.annotationLayer .linkAnnotation > a:hover,
.annotationLayer .buttonWidgetAnnotation.pushButton > a:hover {
  background-color: hsl(58, 100%, 50%);
  box-shadow: none;
}
